@font-face {
    font-family: sfPro-Display-Semibold;
    src: url('apple/fonts/SF-Pro-Display-Semibold.otf');
}

@font-face {
    font-family: sfPro-Display-Regular;
    src: url('apple/fonts/SF-Pro-Display-Regular.otf');
}

@font-face {
    font-family: sfPro-Text-Semibold;
    src: url('apple/fonts/SF-Pro-Text-Semibold.otf');
}
@font-face {
    font-family: sfPro-Text-Regular;
    src: url('apple/fonts/SF-Pro-Text-Regular.otf');
}
@font-face {
    font-family: sfPro-Text-RegularItalic;
    src: url('apple/fonts/SF-Pro-Text-RegularItalic.otf');
}

.sfPro-Display-Semibold{
    font-family: "sfPro-Display-Semibold";
    font-style: normal;
}
.sfPro-Display-Regular{
    font-family: "sfPro-Display-Regular";
    font-style: normal;
}
.sfPro-Text-Semibold{
    font-family: "sfPro-Text-Semibold";
    font-style: normal;
}
.sfPro-Text-Regular{
    font-family: "sfPro-Text-Regular";
    font-style: normal;
}
.sfPro-Text-RegularItalic{
    font-family: "sfPro-Text-RegularItalic";
    font-style: normal;
}