*{margin: 0;}

body,html{
    height: 100%;
    width: 100%;
}
nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 6vh!important;
    pointer-events: none;
}
.midnightHeader{
    width: 100%;
    overflow-x: hidden!important;
}
.midnightHeader img{
    height: 3vh;
    width: 2.5vh;
    position: absolute;
    left: 4vw;
    top: 1.5vh;
    opacity: 1;
}
.midnightHeader h1{
    position: absolute;
    font-size: 2.6vh;
    left: 18vw;
    top: 1.8vh;
}
.midnightHeader.default {
    background: white;
    color: black;
}
.midnightHeader.black {
    background: black;
    color: snow;
}
.rendererDiv{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
}
#rendererDivBackground{
    position: fixed;
    top: 0;
    left: 0;
    background: #F5F5F7;
    height: 100vh;
    width: 100%;
    z-index: 0;
    transition: 1s;
}
.rendererDiv canvas{
    height: 100%;
    width: 100%;
}

.specs{
    position: relative;
    height: 200vh;
    width: 100%;
    z-index: 10;
}
.specs div{
    position: relative;
    float: right;
}
.spec1-header{
    height: 6vh!important;
    position: relative;
    width: 55vw;
    background: black;
}
#spec1{
    height: 94vh;
    width: 55vw;
    background: black;
    align-items: center;
}
#spec1 div{
    height: 100vh;
    width: 55vw;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#spec1 div img{
    height: 40vh;
    object-fit: cover;
    width: 50vw;
}
#spec1 div div{
    height: 100vh;
    align-items: center;
    text-align: left;
    width: 55vw;
}
#spec1 div div div{
    width: 45vw;
    height: auto;
    align-items: start;
}
#spec1 div div div h1{
    color: #EE94CA;
    font-size: 4vh;
    margin-top: 2.5vh;
}
#spec1 div div h2{
    margin-top: 1vh;
    color: #EE94CA;
    font-size: 5vh;
}
#spec1 div div p{
    margin-top: 6vh;
    color: gray;
    line-height: 2.6vh;
    font-size: 2.7vh;
    letter-spacing: 0.05vw;
}
.spec2-header{
    height: 6vh!important;
    position: relative;
    width: 55vw;
    background: #F5F5F7;
}
#spec2{
    background: #F5F5F7;
    height: 94vh;
    width: 55vw;
    display: flex;
    overflow-x: hidden;
}
#spec2 div{
    height: 100vh;
    width: 55vw;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#spec2 div div{
    align-items: center;
    text-align: left;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    transition: 1s;
    cursor: pointer;
}
#spec2 div div .spec2-content{
    width: 45vw;
    height: auto;
    align-items: start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    pointer-events: none;
}
#spec2 div div .spec2-content h1{
    color: #0f0f0f;
    font-size: 3vh;
    transition: 0.5s;
}
#spec2 div div .spec2-content h2{
    margin-top: 0.5vh;
    color: black;
    font-size: 3vh;
}
#spec2 div div .spec2-content p{
    margin-top: 2vh;
    color: gray;
    line-height: 2.6vh;
    letter-spacing: 0.05vw;
    font-size: 1.8vh;
    transition: 1s;
}
#spec2 div div .spec2-hours{
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 45vw;
    justify-content: space-between;
    align-items: start;
    pointer-events: none;
}
#spec2 div div .spec2-hours div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    max-width: 15vw;
    align-items: start;
    
}
#spec2 div div.spec2-hours div h1{
    color: #85ADAC;
    font-size: 3vh;
    margin-top: 0.6vh;
    margin-bottom: 0.6vh;
    line-break:auto;

}
#spec2 div div .spec2-hours div p{
    color: black;
    font-size: 2.2vh;
    margin: 0;
}

/* #iphoneDesign:hover .spec2-content h1{
    font-size: 3.5vh;
}

#iphoneBatery:hover .spec2-content h1{
    font-size: 3.5vh;
} */
#iphoneBatery:hover{
    -webkit-box-shadow: inset 100px 0px 34px -100px rgba(66, 68, 90, 0.68);
    -moz-box-shadow: inset 100px 0px 34px -100px rgba(66, 68, 90, 0.68);
    box-shadow: inset 100px 0px 34px -100px rgba(66, 68, 90, 0.68);
    border-left: #85ADAC solid 0.5vh;
}
#iphoneDesign:hover{
    -webkit-box-shadow: inset 100px 0px 34px -100px rgba(66, 68, 90, 0.68);
    -moz-box-shadow: inset 100px 0px 34px -100px rgba(66, 68, 90, 0.68);
    box-shadow: inset 100px 0px 34px -100px rgba(66, 68, 90, 0.68);
    border-left: #6467E6 solid 0.5vh;
}
#spec3{
    background: #0f0f0f;
    height: 100vh;
    width: 50vw;
}

#cam{
    position: relative;
    height: 300vh;
    width: 100%;
    background: snow;
}

.cam-conteudo{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 57vw;
    top: 12.5vh;
    left: 10vw;
    height: auto;
}

.cam-conteudo-title {
    width: 50vw;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.cam-conteudo-title h1{
    color: #EE94CA;
}
.cam-conteudo-title h2{
    margin-top: 1vh;
    color: black;
}
.cam-conteudo p{
    margin-top: 4vh;
    font-size: 2.5vh;
    line-height: 3.5vh;
    letter-spacing: 0.05vw;
}